<!DOCTYPE html>
<html>
<head>
  <title>InstantWebsite</title>
  <%= stylesheet_link_tag    "instant_website/application", :media => "all" %>
  <%= javascript_include_tag "instant_website/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
